.carousel-wrapper {
    display: flex;
    width: 500px;
    overflow: hidden;
    position: relative;

}

.carousel-item {
    padding: 10px;
    opacity: 0;
    transform: translateX(-100%);
    transition: opacity 0.5s ease, transform 0.5s ease;
    /* Add transform */

}

.active {
    opacity: 1;
    transform: translateX(0);
}



/* Style for icons */

.slide-icon {
    width: 16px;
    height: 16px;
    position: absolute;
    top: 250px;
}


.left-icon {
    left: 20px;
}

.right-icon {
    right: 0px;
}